body {
    align-items: center;
    font-size: 20px;
    font-family: sans-serif;
    line-height: 2rem;
    margin: auto;
}

.col {
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 20px;
    max-width: 100%;
}

.row {
    display: flex;
    flex-direction: row;
}

.center {
    justify-content: center;
    align-items: center;
}

#playerChoice {
    padding: 5px;
}

button {
 background-color: rgb(60, 194, 176);
 color: white;
 border: solid 1px rgb(60, 194, 176);
 padding: 5px 20px;
 font-weight: bold;
}

p {
    max-width: 500px;
    text-align: center;
}

.score-board-border {
    border: solid 1px #e7e7e7;
    width: 120px;
    height: 120px;
}

.points {
    font-size: 3rem;
}

.margin-clear {
    margin: 0;
}

.red {
   color: rgb(194, 60, 60);
}

.green {
    color: rgb(60, 194, 176);
}